/* Accommodate both wide desktop and narrow mobile screens */
body {max-width:80ex}
.apiref-row {
    padding-bottom: 1em;
    display: block;
    float: none;
}

.apiref-spec {
    display: inline;
    font-family: monospace;
    font-weight: bold;
}

.apiref-lambda {
    display: inline;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
}

.apiref-result {
    display: block;
    font-family: monospace;
    font-style: italic;
    margin-left: 20px;
}

.apiref-result:before {
    content: "=> ";
}

.apiref-doc {
    display: block;
    float: none;
    margin-left: 30px;
}

.codeblock {
    display: block;
    background: lightgrey;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 5px 20px 5px;
    white-space:pre;
}

/* From coloring-css.lisp in colorize */
.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}
a.symbol:link { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:active { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:visited { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:hover { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #777777; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }
span.paren1:hover { color : inherit; background-color : #BAFFFF; }
span.paren2:hover { color : inherit; background-color : #FFCACA; }
span.paren3:hover { color : inherit; background-color : #FFFFBA; }
span.paren4:hover { color : inherit; background-color : #CACAFF; }
span.paren5:hover { color : inherit; background-color : #CAFFCA; }
span.paren6:hover { color : inherit; background-color : #FFBAFF; }
/* Because some browsers use too small of font: */
code, .apiref-spec, .apiref-lambda {font-size:120%}
@media only screen and (min-device-width:600px) {
  body {margin-left:10%; margin-right:10%}
}
